<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=sfstorage101;AccountKey=QnoLcLkg5UgnU5sgP5MvASHet1UkigiznF+vDQ8I/8Zt0dyojS+jbfbELKcqinQ0y219J2uDZMBGKLdafzKnkg==;EndpointSuffix=core.windows.net" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=sfstorage101;AccountKey=QnoLcLkg5UgnU5sgP5MvASHet1UkigiznF+vDQ8I/8Zt0dyojS+jbfbELKcqinQ0y219J2uDZMBGKLdafzKnkg==;EndpointSuffix=core.windows.net" />
    <add name="AzureWebJobsServiceBus" connectionString="Endpoint=sb://sbtest101.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=0TjSeYv6Tk44TPjP5mxGpv6s+bti/gPccjspHNWiJx0=" />
  </connectionStrings>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>